body{
	background-color:black;
	
}
.falso{
    position: absolute;
    top:2100px;
	width: 99.4%;
	height: 200px;
	background-color:coral ;
	border: 0px;
	padding: 0px;
	margin:0px;
}
#pagina{
	position:relative;
	width:100%;
	height:2200px;
	background-color:coral;
	color: whitesmoke;
	margin:0px;
	padding:0px;
}

.con{
	background-color:darkred;
	top:50.1%;
	position: relative;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	width: 1150px;
	height: 2200px;
	font-size: 20px;
	background-color: rgb(255, 255, 255);
	border:2px solid black;
	

}
.head{
	position:sticky;
	margin:0px;
	padding:0px;
	top:0px;
	left:0px;
	width:100%;
	height:70px;
	background-color:#2e2e38;
    z-index:100;
	
}
.StoneDeck {
	position:absolute;
	margin:0px;
	padding:0px;
	top:0px;
	left:50px;
	width:400px;
	height:70px;
	border:0px solid white;
	background-image:url(ScrittaL.png);

	
	
}
.logo{
	position:absolute;
	margin:0px;
	padding:0px;
	top:0px;
	left:460px;
	width:70px;
	height:70px;
	border:0px solid white;
	background-image:url(Logo.png);

	
}
.wild{
	position:absolute;
	margin:0px;
	padding:0px;
	top:0px;
	right:20px;
	width:70px;
	height:70px;
	border:0px solid white;
	background-image:url(Wild.png);
}

.standard{
	position:absolute;
	margin:0px;
	padding:0px;
	top:0px;
	right:110px;
	width:70px;
	height:70px;
	border:0px solid white;
	background-image:url(Standard.png);
}
.registra{
	position:relative;
	margin:0px;
	padding:0px;
	top:0px;
	width:100%;
	height:25px;
	border:0px solid red;
	background-color:#808080;

}
a{
	
	color:black;
	font-size:20px;
}
.reg{
	position:absolute;
	margin:0px;
	padding:0px;
	top:0px;
	width:100px;
	height:25px;
	border:0px solid red;
	left:20px;
    
	
	
}
.acc{
	position:absolute;
	margin:0px;
	padding:0px;
	top:0px;
	right:0px;
	width:80px;
	height:25px;
	border:0px solid red;
	
	
}
.s{
	position:absolute;
	margin:0px;
	padding:0px;
	top:0px;
	left:35%;
	right:25%;
	width:50%;
	height:25px;
	border:0px solid red;
	font-size:23px;
	color:orange;
	
}
.im{
	position:relative;
	margin:0px;
	padding:0px;
	top:100px;
	left:0px;
	width:100%;
	height:450px;
	border-top:5px solid black;
	border-bottom:5px solid black;
	font-size:23px;
	color:black;

	
    

}



/* Hide the images by default */
.mySlides {
	display: none;
	
  }
  
  /* Next & previous buttons */
  .prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
	color:whitesmoke;
	text-shadow: -1px 0 #FF0000, 0 1px #FF0000, 1px 0 #FF0000, 0 -1px #FF0000;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
	font-size: 35px;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
  }
  
  @-webkit-keyframes hvr-pulse-grow {
	to {
	  -webkit-transform: scale(1.1);
	  transform: scale(1.1);
	}
  }
  @keyframes hvr-pulse-grow {
	to {
	  -webkit-transform: scale(1.1);
	  transform: scale(1.1);
	}
  }
 
  .h:hover{
	-webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  }
  .hvr-rectangle-out {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	background: #e1e1e1;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
  }
  .hvr-rectangle-out:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background:rgb(226, 97, 97);
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
  }
  
  .hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
	color: white;
  }
  .hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
	-webkit-transform: scale(1);
	transform: scale(1);
  }

  /* Fading animation */
  .fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }
  
  @keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }


  .statistiche1{
    position: absolute;
	margin:0px;
	padding:0px;
	top:0px;
	right:0px;
	width:300px ;
	height:150px;
	border:0px solid red;
	background-image:url(sR.jpg);


}
.click1{
    position: absolute;
	margin:0px;
	padding:0px;
	top:220px;
	right:225px;
	width:100px ;
	height:50px;
	border:3px solid black;
	display: flex;
    justify-content: center;
    align-items: center;

}

.statistiche2{
    position: absolute;
	margin:0px;
	padding:0px;
	top:0px;
	right:0px;
	width:300px ;
	height:150px;
	border:0px solid red;
	background-image: url(sM.jpg);


}
.click2{
	position: absolute;
	margin:0px;
	padding:0px;
	top:220px;
	right:225px;
	width:100px ;
	height:50px;
	border:3px solid black;
	display: flex;
    justify-content: center;
    align-items: center;

}

.statistiche3{
    position: absolute;
	margin:0px;
	padding:0px;
	top:0px;
	right:0px;
	width:300px ;
	height:150px;
	border:0px solid red;
	background-image: url(sL.jpg);


}
.click3{
	position: absolute;
	margin:0px;
	padding:0px;
	top:220px;
	right:225px;
	width:100px ;
	height:50px;
	border:3px solid black;
	display: flex;
    justify-content: center;
    align-items: center;


}

.statistiche4{
    position: absolute;
	margin:0px;
	padding:0px;
	top:0px;
	right:0px;
	width:300px ;
	height:150px;
	border:0px solid red;
	background-image: url(sS.jpg);


}
.click4{
	position: absolute;
	margin:0px;
	padding:0px;
	top:220px;
	right:225px;
	width:100px ;
	height:50px;
	border:3px solid black;
	display: flex;
    justify-content: center;
    align-items: center;


}

.statistiche5{
    position: absolute;
	margin:0px;
	padding:0px;
	top:0px;
	right:0px;
	width:300px ;
	height:150px;
	border:0px solid red;
	background-image: url(sP.jpg);

}
.click5{
	position: absolute;
	margin:0px;
	padding:0px;
	top:220px;
	right:225px;
	width:100px ;
	height:50px;
	border:3px solid black;
	display: flex;
    justify-content: center;
    align-items: center;


}

.statistiche6{
    position: absolute;
	margin:0px;
	padding:0px;
	top:0px;
	right:0px;
	width:300px ;
	height:150px;
	border:0px solid red;
	background-image: url(sD.jpg);

}
.click6{
    position: absolute;
	margin:0px;
	padding:0px;
	top:220px;
	right:225px;
	width:100px ;
	height:50px;
	border:3px solid black;
	display: flex;
    justify-content: center;
    align-items: center;


}

.statistiche7{
    position: absolute;
	margin:0px;
	padding:0px;
	top:0px;
	right:0px;
	width:300px ;
	height:150px;
	border:0px solid red;
	background-image: url(sP.jpg);

}
.click7{
    position: absolute;
	margin:0px;
	padding:0px;
	top:220px;
	right:225px;
	width:100px ;
	height:50px;
	border:3px solid black;
	display: flex;
    justify-content: center;
    align-items: center;


}

.statistiche8{
    position: absolute;
	margin:0px;
	padding:0px;
	top:0px;
	right:0px;
	width:300px ;
	height:150px;
	border:0px solid red;
	background-image: url(sH.jpg);

}
.click8{
	position: absolute;
	margin:0px;
	padding:0px;
	top:220px;
	right:225px;
	width:100px ;
	height:50px;
	border:3px solid black;
	display: flex;
    justify-content: center;
    align-items: center;


}

.statistiche9{
    position: absolute;
	margin:0px;
	padding:0px;
	top:0px;
	right:0px;
	width:300px ;
	height:150px;
	border:0px solid red;
	background-image: url(sDD.jpg);

}
.click9{
	position: absolute;
	margin:0px;
	padding:0px;
	top:220px;
	right:225px;
	width:100px ;
	height:50px;
	border:3px solid black;
	display: flex;
    justify-content: center;
    align-items: center;


}

.statistiche10{
    position: absolute;
	margin:0px;
	padding:0px;
	top:0px;
	right:0px;
	width:300px ;
	height:150px;
	border:0px solid red;
	background-image: url(sW.jpg);

}
.click10{
	position: absolute;
	margin:0px;
	padding:0px;
	top:220px;
	right:225px;
	width:100px ;
	height:50px;
	border:3px solid black;
	display: flex;
    justify-content: center;
    align-items: center;

}

.nUscite{
   position: relative;
   top:100px;
   left: 20px;
   margin:0px;
   padding:0px;
   width:700px ;
   height:500px;
   background-color: rgb(229, 243, 167);
   border: 5px solid black ;
   text-align: center;
   color:black;
}
.uscite{
	position: absolute;
	top:20px;
	left: 0px;
	margin:0px;
	padding:0px;
	width:100% ;
	height:475px;
	background-color: rgb(229, 243, 167);
	border-top: 5px solid black ;
	text-align: center;
	color: whitesmoke;
    background-image: url(meme.jpg);
   
}
.tierList{
   position: absolute;
   top:610px;
   left: 770px;
   margin:0px;
   padding:0px;
   width:300px ;
   height:695px;
   background-color: blue;
   border: 5px solid black ;
   text-align: center;
   color: whitesmoke;
   background-image: url(tier.jpg);
}

.hvr-bounce-out {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
  }
  .hvr-bounce-out:hover, .hvr-bounce-out:focus, .hvr-bounce-out:active {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
	transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }

  #ad{
    position: absolute;
	top:1135px;
   left: 20px;
   margin:0px;
   padding:0px;
   width:700px ;
   height:150px;
   background-color: blue;
   border: 1px solid black ;
   text-align: center;
   color: whitesmoke;
   background-image: url(ad.jpg);

  }
  #x{
	position: absolute;
	top:0px;
   right:0px;
   margin:0px;
   padding:0px;
   width:15px ;
   height:15px;
   background-color: blue;
   border: 0px solid black ;
   text-align: center;
   color: whitesmoke;
   background-image: url(x.jpg);
  
	display:block;
	
  
  }
  #a{
	position: absolute;
	top:0px;
   left:0px;
   margin:0px;
   padding:0px;
   width:15px;
   height:15px;
   background-color: blue;
   border: 0px solid black ;
   text-align: center;
   color: whitesmoke;
   background-image: url(a.jpg);
  
	display:none;
	

  }
  #vod{
	position: absolute;
	top:20px;
   left:20px;
   right: 20px;
   margin:0px;
   padding:0px;
   width:660px;
   height:110px;
  
   border: 0px solid black ;
   text-align: center;
   display:block;
  
  



  }
  #inCom{
   position: absolute;
   top:43px;
   left:210px;
   
   margin:0px;
   padding:0px;
   width:110px;
   height:25px;
   border:0px solid black;
   display:none;
  }
  #perche{
	position: absolute;
	top:43px;
	left:320px;
	
	margin:0px;
	padding:0px;
	width:195px;
	height:25px;
	border:0px solid black;
	display:none;
   }

   #o1{
	position: absolute;
	top:25px;
	left:140px;
	
	margin:0px;
	padding:0px;
	width:95px;
	height:50px;
	border:0px solid black;
	display:none;

   }

   #o2{
	position: absolute;
	top:25px;
	left:241px;
	
	margin:0px;
	padding:0px;
	width:95px;
	height:50px;
	border:0px solid black;
	display:none;
	
   }

   #o3{
	position: absolute;
	top:25px;
	left:344px;
	
	margin:0px;
	padding:0px;
	width:95px;
	height:50px;
	border:0px solid black;
	display:none;
	
   }

   #o4{
	position: absolute;
	top:25px;
	left:449px;
	
	margin:0px;
	padding:0px;
	width:95px;
	height:50px;
	border:0px solid black;
	display:none;
	
   }

  .tit{
	position: relative;
	top:350px;
   left:100px;
   margin:0px;
   padding:0px;
   width:950px;
   height:70px;
   
   border: 2px solid black ;
   display: flex;
   justify-content: center;
   align-items: center;
   color:whitesmoke;
   text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
   font-size: 50px;
  background-color: rgb(246, 235, 217);


  }
  .mG{
	position: relative;
	top:400px;
   left:100px;
   margin:0px;
   padding:0px;
   width:750px;
   height:250px;
   background-image: url(maz.png);
   border: 3px solid black;
  }
  .copia{
   position: relative;
   top:280px;
   left:270px;
   width: 400px;
   height: 55px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(144, 9, 36);
   color: whitesmoke;
   font-size: 25px;
   border-radius: 12px 12px 12px 12px;
  }
  #area{
	position: relative;
	top:270px;
	left:270px;
	width: 400px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	border-radius: 12px 12px 12px 12px;

  }
  .upVote{
   position: relative;
   top:200px;
   left:900px;
   width: 150px;
   height: 150px;
   border:1px solid black;
   background-color: rgb(246, 235, 217);
  }
  #up{
	position: absolute;
	top:35px;
	left:70px;
	width: 65px;
	height: 65px;
	background-image: url(upVote.png);
	border: 0px solid black;

  }
  #num{
	position: absolute;
	top:35px;
	left:4px;
	width: 65px;
	height: 65px;
	border:0px solid black;
	text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
   font-size: 55px;
	color:chartreuse;
   
   
   

  }
  .crediti{
	  top:405px;
	position: relative;
	width:1150px;
	height: 200px;
	border: 1px solid black;
    background-color: rgb(41, 38, 38);
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
	text-align: center;
  }
  .bliz{
   position: absolute;
   width: 1150px;
   height: 50px;
   top:135px;
   right:0px;
   border: 0px solid white;


  }

  #paginaR{
	position:relative;
	width:100%;
	height:1100px;
	background-color:coral;
	color: whitesmoke;
	margin:0px;
	padding:0px;
}

.conR{
	background-color:darkred;
	top:50.1%;
	position: relative;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	width: 1150px;
	height: 1100px;
	font-size: 20px;
	background-color: rgb(255, 255, 255);
	border:2px solid black;
	

}
.creditiR{
	top:1029px;
	position: absolute;
	left:0px;
	width:1150px;
	height: 71px;
	border: 0px solid black;
    background-color: rgb(41, 38, 38);
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
	text-align: center;
  

}

legend{

	text-align: center;
	color:black;
	font-size: 30px;
}

.nome{
    position: relative;
	top:30px;
	left:430px;
	color: black;
	text-shadow: -1px 0  white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 23px;

}
input{

	height: 25px;
	width: 200px;
}
.cognome{
	position: relative;
	top:60px;
	left:397px;
	color: black;
	text-shadow: -1px 0  white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 23px;

}
.sesso{

	position: relative;
	top:150px;
	left:310px;
	color: black;
	text-shadow: -1px 0  white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 23px;

}
fieldset{
    background-color: blanchedalmond;
	height: 1000px;
	width: 1112px;
	background-image: url(Back.jpg);
}
.gmail{

	position: relative;
	top:90px;
	left:430px;
	color: black;
	text-shadow: -1px 0  white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 23px;
}
.pass{
	position: relative;
	top:120px;
	left:395px;
	color: black;
	text-shadow: -1px 0  white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 23px;

}
.sub{
	position: relative;
	top:200px;
	left:370px;
	color: black;
	text-shadow: -1px 0  white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 23px;

}
.Home{
	position: relative;
	top:300px;
	left:510px;
	color: black;
	text-shadow: -1px 0  white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 23px;

}